body {
    background-color: #111111;
}
#wrapper {
    width: 972px;
    margin: 0px auto;
    background-color: #111111;
}
.houses {
    display: inline-block;
    position: relative;
    margin: 0px 20px;
    vertical-align: top;
    
}
.houses img {
    max-width: 200px;
}
#details {
    display: inline-block;
    margin: 50px 150px 0px 150px;
    padding: 15px;
    width: 650px;
    height: 150px;
    background-color: #333;
    border: 2px solid #000;
    color: #cccccc;
}